@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Bellefair&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}
ul li {
  list-style: none;
  display: block;
}

.container {
  width: 79.6%;
  margin-left: 9.89rem;
}
.small-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.home {
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page {
  min-height: 100vh;
}
.text-home {
  font-family: "Bellefair", serif;
}
.top-wording {
  font-family: "Barlow", sans-serif;
}
/* tablet screen */
@media only screen and (max-width: 768px) {
  .home {
    background-image: url("./assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* mobile screen */
@media only screen and (max-width: 640px) {
  .home {
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .small-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
